services:
  redis:
    image: redis:alpine3.22
    container_name: redis
    environment:
      REDIS_PASSWORD: $REDIS_PASSWORD
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - redis_data:/data
    command: redis-server --requirepass "${REDIS_PASSWORD}" --appendonly yes
    restart: unless-stopped
    networks: [app-network]
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping"]
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 5s

  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_USER: $POSTGRESQL_USERNAME
      POSTGRES_PASSWORD: $POSTGRESQL_PASSWORD
      POSTGRES_DB: $POSTGRESQL_DATABASE
      TZ: Asia/Bangkok
    ports:
      - "${POSTGRESQL_PORT}:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U appuser -d appdb"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks: [app-network]

  pgadmin:
    image: dpage/pgadmin4:8
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin123
      TZ: Asia/Bangkok
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks: [app-network]

networks:
  app-network:

volumes:
  pg_data:
  redis_data:
